<div id="wrapper-mod" class="wrapper hidden" style="display: inherit">
  <div id="prompt-mod" class="prompt">
    <p class="title">
      Moderación
    </p>
    <p>
      Este cambio no se puede revertir. ¿Está seguro de continuar?
    </p>
    <button id="reject-accept-btn">Si</button>
    <button onclick="interactPrompt('wrapper-mod')">No</button>
  </div>
</div>

<div class="content">
  <select id="category">
    {{#categories}}
    <option value="{{name}}">
      {{name}}
    </option>
    {{/categories}}
  </select>
  {{#reviews}}
  <div class="card">
    <label class="title">{{university}}</label>
    <p>{{date}}</p>
    <hr>
    <p>{{{summary}}}</p>
    <p style="margin-bottom: -10px;">
      <button onclick="interactPrompt('wrapper-mod'); approveReject('{{university}}', '{{date}}', true)"><span class="icon">&#xE73E; </span> Aprovar</button>
      <button onclick="interactPrompt('wrapper-mod'); approveReject('{{university}}', '{{date}}', false)" id="reject-btn"><span class="icon">&#xE711; </span> Rechazar</button>
    </p>
  </div>
  {{/reviews}}
  </div>