<div class="content">
  <button onclick="openEditor('','','', '', false);"><span class="icon">&#xED63; </span> Nuevo articulo</button>
  <button><span class="icon">&#xE713; </span> Configuración</button>
  {{#articles}}
  <div class="card">
    <label class="title">{{{headline}}}</label>
    <p><b>{{author}}</b>, {{date}}</p>
    <hr>
    <p>{{{subhead}}}</p>
    <p style="margin-bottom: -10px;">
      <span class="icon">&#xE8EC;</span> {{category}} | <span class="icon">👁️</span> {{views}} | 
      <button onclick="var x = `{{body}}`; x = x.replace(/&96;/g, '`'); openEditor('{{headline}}','{{subhead}}', x, '{{author}}', true, '{{category}}');"><span class="icon">&#xED63; </span> Editar</button>
    </p>
  </div>
  {{/articles}}
</div>