<div class="header">
  <h1>EL SINDICATO</h1>
  <ul class="links">
    {{#links}}
    <li>
      <a href="{{toLink category}}">{{label}}</a>
    </li>
    {{/links}}
    <li>
      <a href="/nosotros">Nosotros</a>
    </li>
  </ul>
</div>