<div class="content">
  <h1><a href="articulo/{{headlineLink}}">{{{headline}}}</a></h1>
  <p class="info"><b>{{author}}</b>  -  {{date}}</p>
  <p class="subhead">{{{subhead}}}</p>
  <hr>
  <div class="body">{{{body}}}</div>
  <hr>
  ¿Te gustó el artículo?
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.sindicato-ufm.com/articulo/{{headline}}" target="_blank">
    Comparte en Facebook
  </a>,
  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet?text={{headlineLink)}}, http://www.sindicato-ufm.com/articulo/{{headlineLink)}}"
    data-size="large"
    target="_blank">
  Twitter</a>
  o síguenos en las
  <a href="https://www.facebook.com/sindicatoUFM" target="_blank">redes</a>
  <hr>
  <hr>
</div>