<div class="content">
  <h1>{{university}}</h1>
  <p class="subhead">
    {{summary}}
    <div class="rating">
      {{{stars}}} | {{rating}}/5
    </div>
    {{{reviews}}} calificaciones
  </p>
  <hr>
  <img width="100%" src="{{imagelink}}">

  <div class="body">
    <h2>Resumen</h2>
    <table style="text-align: center;">
      <tr>
        <td><b>Categoría</b></td>
        <td><b>Calificación</b></td>
      </tr>
      {{#ratings}}
      <tr>
        <td>{{description}}</td>
        <td>{{value}}</td>
      </tr>
      {{/ratings}}
    </table>

    <h2>Profesores</h2>
    <div class="classes-teachers">
      <div class="search">
        <input type="text" placeholder="Buscar catedratico, clase o facultad">
      </div>

      <table style="text-align: center;">
          <tr>
            <td><b>Catedratico</b></td>
            <td><b>Calificación</b></td>
            <td><b>Volvería a tomar</b></td>
          </tr>
      </table>
    </div>
    <button>Cargar más catedraticos</button>
    <button>Agregar catedratico</button>

    <h2>Calificaciones</h2>
    <div class="review">
      <hr>
      <ul>
        <li><b>Reputación: </b> 3.2</li>
        <li><b>Limpieza: </b> 5</li>
      </ul>
      <p>Critica mas votada aquí, lorem ipsum sit dolor amet.</p>
      <a href="javascript:void(0);"><span class="icon">&#xF0AD;</span> Útil</a> 5
      <a href="javascript:void(0);"><span class="icon">&#xF0AE;</span></a>
      <hr><hr>
    </div>
    <button>Agregar califcación</button><button>Cargar más calificaciones</button>
  </div>
</div>