<script src="https://www.google.com/recaptcha/api.js?render=6LdfkL4UAAAAAFw_yCmYUBjHeHsH38J9Yz7nb5D7"></script>
<div class="toast hidden" id="error-toast"></div>
<div id="calificar-modal" class="modal hidden">
    <div class="content">
      <span class="icon close-btn" onclick="interactModal('calificar-modal'); clearUniForm();"></span>
      <h1>Calificar</h1>
      <hr>

      <select id="uni-select" value="{{university}}">
        <option value="{{university}}">{{university}}</option>
      </select>

      <h4>1) ¿Cómo ve el resto a tu universidad?</h4>
      <label for="reputation">Reputación:</label>
      <div class="rate">
        <input type="radio" id="reputation5" name="reputation" value="5" />
        <label for="reputation5" title="5">5 stars</label>
        <input type="radio" id="reputation4" name="reputation" value="4" />
        <label for="reputation4" title="4">4 stars</label>
        <input type="radio" id="reputation3" name="reputation" value="3" />
        <label for="reputation3" title="3">3 stars</label>
        <input type="radio" id="reputation2" name="reputation" value="2" />
        <label for="reputation2" title="2">2 stars</label>
        <input type="radio" checked id="reputation1" name="reputation" value="1" />
        <label for="reputation1" title="1">1 star</label>
      </div>        
      <h4>2) ¿Qué tan fácil es llegar a tu universidad?</h4>
      <label for="location">Ubicación:</label>
      <div class="rate">
        <input type="radio" id="location5" name="location" value="5" />
        <label for="location5" title="5">5 stars</label>
        <input type="radio" id="location4" name="location" value="4" />
        <label for="location4" title="4">4 stars</label>
        <input type="radio" id="location3" name="location" value="3" />
        <label for="location3" title="3">3 stars</label>
        <input type="radio" id="location2" name="location" value="2" />
        <label for="location2" title="2">2 stars</label>
        <input type="radio" checked id="location1" name="location" value="1" />
        <label for="location1" title="1">1 star</label>
      </div>

      <h4>3) ¿Cuántos y que tan buenos eventos realiza tu universidad? Ejemplo: conferencias, charlas, conciertos, etc.</h4>
      <label for="events">Eventos:</label>
      <div class="rate">
        <input type="radio" id="events5" name="events" value="5" />
        <label for="events5" title="5">5 stars</label>
        <input type="radio" id="events4" name="events" value="4" />
        <label for="events4" title="4">4 stars</label>
        <input type="radio" id="events3" name="events" value="3" />
        <label for="events3" title="3">3 stars</label>
        <input type="radio" id="events2" name="events" value="2" />
        <label for="events2" title="2">2 stars</label>
        <input type="radio" checked id="events1" name="events" value="1" />
        <label for="events1" title="1">1 star</label>
      </div>

      <h4>4) ¿Qué tan seguro te sentís en tu universidad?</h4>
      <label for="security">Seguridad:</label>
      <div class="rate">
        <input type="radio" id="security5" name="security" value="5" />
        <label for="security5" title="5">5 stars</label>
        <input type="radio" id="security4" name="security" value="4" />
        <label for="security4" title="4">4 stars</label>
        <input type="radio" id="security3" name="security" value="3" />
        <label for="security3" title="3">3 stars</label>
        <input type="radio" id="security2" name="security" value="2" />
        <label for="security2" title="2">2 stars</label>
        <input type="radio" checked id="security1" name="security" value="1" />
        <label for="security1" title="1">1 star</label>
      </div>

      <h4>5) ¿Cuál es la calidad y cantidad de servicios básicos ofrece tu universidad? Ejemplo: agua potable, papel higiénico o internet.</h4>
      <label for="services">Servicios:</label>
      <div class="rate">
        <input type="radio" id="services5" name="services" value="5" />
        <label for="services5" title="5">5 stars</label>
        <input type="radio" id="services4" name="services" value="4" />
        <label for="services4" title="4">4 stars</label>
        <input type="radio" id="services3" name="services" value="3" />
        <label for="services3" title="3">3 stars</label>
        <input type="radio" id="services2" name="services" value="2" />
        <label for="services2" title="2">2 stars</label>
        <input type="radio" checked id="services1" name="services" value="1" />
        <label for="services1" title="1">1 star</label>
      </div>

      <h4>6) ¿Qué tan limpia se mantiene tu universidad?</h4>
      <label for="cleanliness">Limpieza:</label>
      <div class="rate">
        <input type="radio" id="cleanliness5" name="cleanliness" value="5" />
        <label for="cleanliness5" title="5">5 stars</label>
        <input type="radio" id="cleanliness4" name="cleanliness" value="4" />
        <label for="cleanliness4" title="4">4 stars</label>
        <input type="radio" id="cleanliness3" name="cleanliness" value="3" />
        <label for="cleanliness3" title="3">3 stars</label>
        <input type="radio" id="cleanliness2" name="cleanliness" value="2" />
        <label for="cleanliness2" title="2">2 stars</label>
        <input type="radio" checked id="cleanliness1" name="cleanliness" value="1" />
        <label for="cleanliness1" title="1">1 star</label>
      </div>

      <h4>7) ¿Cómo es la vida social en tu universidad? Ejemplo: fiestas, asociaciones estudiantiles, eventos deportivos, etc.</h4>
      <label for="location">Vida social:</label>
      <div class="rate">
        <input type="radio" id="social5" name="social" value="5" />
        <label for="social5" title="5">5 stars</label>
        <input type="radio" id="social4" name="social" value="4" />
        <label for="social4" title="4">4 stars</label>
        <input type="radio" id="social3" name="social" value="3" />
        <label for="social3" title="3">3 stars</label>
        <input type="radio" id="social2" name="social" value="2" />
        <label for="social2" title="2">2 stars</label>
        <input type="radio" checked id="social1" name="social" value="1" />
        <label for="social1" title="1">1 star</label>
      </div>

      <h4>8) ¿Cuántas y que tan buenas son las actividades extracurriculares en tu universidad? Ejemplo: Equipos de debates, deportes u otro torneo, grupos de música, teatro u otro arte, etc.</h4>
      <label for="location">Actividades extracurriculares:</label>
      <div class="rate">
        <input type="radio" id="extracurricular5" name="extracurricular" value="5" />
        <label for="extracurricular5" title="5">5 stars</label>
        <input type="radio" id="extracurricular4" name="extracurricular" value="4" />
        <label for="extracurricular4" title="4">4 stars</label>
        <input type="radio" id="extracurricular3" name="extracurricular" value="3" />
        <label for="extracurricular3" title="3">3 stars</label>
        <input type="radio" id="extracurricular2" name="extracurricular" value="2" />
        <label for="extracurricular2" title="2">2 stars</label>
        <input type="radio" checked id="extracurricular1" name="extracurricular" value="1" />
        <label for="extracurricular1" title="1">1 star</label>
      </div>
      
      <h4>9) ¿Qué tan feliz te sentís con tu universidad?</h4>
      <label for="happiness">Felicidad:</label>
      <div class="rate">
        <input type="radio" id="happiness5" name="happiness" value="5" />
        <label for="happiness5" title="5">5 stars</label>
        <input type="radio" id="happiness4" name="happiness" value="4" />
        <label for="happiness4" title="4">4 stars</label>
        <input type="radio" id="happiness3" name="happiness" value="3" />
        <label for="happiness3" title="3">3 stars</label>
        <input type="radio" id="happiness2" name="happiness" value="2" />
        <label for="happiness2" title="2">2 stars</label>
        <input type="radio" checked id="happiness1" name="happiness" value="1" />
        <label for="happiness1" title="1">1 star</label>
      </div>

      <h4>Desarrollá un poquito (200 caracteres máximo)</h4>
      <textarea id="summary" width="100%" rows="5" style="width: 100%;" maxlength="200"></textarea>
      <span id="summary-empty" style="color: red; display: none;">*Llenar campo</span>
      
      <br/>
      <button id="submit-review">Subir calificación</button>
    </div>
</div>

<div id="uploaded-modal" class="modal hidden">
  <div class="content">
    <span class="icon close-btn" onclick="interactModal('uploaded-modal');"></span>
    <h1><span class="icon" style="font-weight: 100;">&#xE8F3;</span> Califación subida</h1>
    <hr>

    <p><b>Califación exitosamente subida</b>, para mantener la comunidad limpia nosotros validamos manualmente cada calificación. 
      Ten paciencia si todavía no ves tu calificación en la plataforma, en menos de un día la aprobaremos.
      <br/><br/>
      Para poder aprobar tu calificación recordá seguír nuestra guía de conducta.
    </p>
    <button onclick="interactModal('uploaded-modal')">Okay</button>
  </div>
</div>

<div class="content">
  <h1>{{university}}</h1>
  <p class="subhead">
    {{summary}}
    <div class="rating">
      {{{stars}}} | {{rating}}/5
    </div>
    {{{reviews}}} calificaciones
  </p>
  <hr>
  <img width="100%" src="{{imagelink}}">

  <div class="body">
    <h2>Resumen</h2>
    <table style="text-align: center;">
      <tr>
        <td><b>Categoría</b></td>
        <td><b>Calificación</b></td>
      </tr>
      {{#ratings}}
      <tr>
        <td>{{description}}</td>
        <td>{{value}}</td>
      </tr>
      {{/ratings}}
    </table>

    <h2>Profesores</h2>
    <div class="classes-teachers">
      <div class="search">
        <input type="text" placeholder="Buscar catedratico o clase">
      </div>

      <table id="teachers-summary" style="text-align: center;"></table>
    </div>
    <button class="no-show" id="load-more-teachers">Cargar más catedraticos</button>
    <button>Agregar catedratico</button>

    <h2>Calificaciones</h2>
    <div id="reviews"></div>
    <button onclick="interactModal('calificar-modal');">Agregar califcación</button><button class="no-show" id="load-more-reviews">Cargar más calificaciones</button>
  </div>
</div>

<script type="text/javascript" src="js/mustache.min.js"></script>
<script type="text/javascript" src="js/uni-reviews.js"></script>

<script src="../califica.js"></script>
<script src="../components/modal.js"></script>
<script src="../components/toast.js"></script>