<div class="content">
  <h1>{{university}}</h1>
  <p class="subhead">
    {{summary}}
    <div class="rating">
      {{{stars}}} | {{rating}}/5
    </div>
    {{{reviews}}} calificaciones
  </p>
  <hr>
  <img width="100%" src="{{imagelink}}">

  <div class="body">
    <h2>Resumen</h2>
    <table style="text-align: center;">
      <tr>
        <td><b>Categoría</b></td>
        <td><b>Calificación</b></td>
      </tr>
      {{#ratings}}
      <tr>
        <td>{{description}}</td>
        <td>{{value}}</td>
      </tr>
      {{/ratings}}
    </table>

    <h2>Profesores</h2>
    <div class="classes-teachers">
      <div class="search">
        <input type="text" placeholder="Buscar catedratico o clase">
      </div>

      <table id="teachers-summary" style="text-align: center;"></table>
    </div>
    <button class="no-show" id="load-more-teachers">Cargar más catedraticos</button>
    <button>Agregar catedratico</button>

    <h2>Calificaciones</h2>
    <div id="reviews"></div>
    <button>Agregar califcación</button><button class="no-show" id="load-more-reviews">Cargar más calificaciones</button>
  </div>
</div>

<script type="text/javascript" src="js/mustache.min.js"></script>
<script type="text/javascript" src="js/uni-reviews.js"></script>