<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <base href="../../">
  <title>El Sindicato{{#title}} - {{/title}}{{title}}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
</head>
<body>
  {{{header}}}
  <div id="wrapper">
    {{{content}}}
  </div>
  {{{footer}}}
</body>
</html>