<div id="calificar-modal" class="modal hidden">
  <div class="content">
    <span class="icon close-btn" onclick="interactModal('calificar-modal');"></span>
    <h1>Calificar</h1>
    <hr>

    <form id="rate-form">
    <select id="uni-select" name="university">
      {{#universities}}
        <option value="{{val}}" {{selected}}>{{caption}}</option>
      {{/universities}}
    </select>

    
    <h4>Nombre del catedrático</h4>
    <input type="text" name="teacher" placeholder="Catedrático"/>
    <p>Aseguráte si el catedrático ya existe.</p>

    <h4>Nombre de la clase que cursaste</h4>
    <input type="text" name="class" placeholder="Clase"/>

    {{#questions}}
    <h4>{{index}}) {{question}}</h4>
    <label for="{{val}}">{{caption}}:</label>
    <div class="rate">
      <input type="radio" id="{{val}}5" name="{{val}}" value="5" />
      <label for="{{val}}5" title="5">5 stars</label>
      <input type="radio" id="{{val}}4" name="{{val}}" value="4" />
      <label for="{{val}}4" title="4">4 stars</label>
      <input type="radio" id="{{val}}3" name="{{val}}" value="3" />
      <label for="{{val}}3" title="3">3 stars</label>
      <input type="radio" id="{{val}}2" name="{{val}}" value="2" />
      <label for="{{val}}2" title="2">2 stars</label>
      <input type="radio" checked id="{{val}}1" name="{{val}}" value="1" />
      <label for="{{val}}1" title="1">1 star</label>
    </div>
    {{/questions}}

    <h4>¿Tomarías otro curso con el catedrático?</h4>
    <input type="radio" checked value="1" name="repeat"> Si
    <input type="radio" value="0" name="repeat"> No

    <h4>Desarrollá un poquito (200 caracteres máximo)</h4>
    <textarea name="summary" id="summary" width="100%" rows="5" style="width: 100%;" maxlength="200"></textarea>
    <span id="summary-empty" style="color: red; display: none;">*Llenar campo</span>
    
    </form>
    <br/>
    <button id="submit-review">Subir calificación</button>
  </div>
</div>

<script src="../components/modal.js"></script>