<div class="review-filter">
  <div class="tab-pill">
    <a href="../califica/universidades">Universidades</a>
    <a class="selected">Catedráticos</a>
  </div>
  <form>
  <div class="filters">    
    <input type="text" name="nombre" placeholder="Nombre" value="{{name}}"/>
    <input type="text" name="clase" placeholder="Clase" value="{{class}}"/>
    <select name="universidad">
      <option value="">Todas</option>
      {{#universities}}
        <option value="{{val}}" {{selected}}>{{caption}}</option>
      {{/universities}}
    </select>
    <select name="orden">
      {{#orders}}
        <option value="{{val}}" {{selected}}>{{caption}}</option>
      {{/orders}}
    </select>
  </div>
  <button type="submit">Filtrar</button>
  <span class="btn" onclick="interactModal('calificar-modal');">Agregar calificación</span>
  </form>

  <div class="teachers">
    {{#teachers}}
    <div class="card">
      <p>{{summary}}</p>
      <label class="title">{{name}}</label>
      <div class="rating">{{{rating}}}</div>
      <button>Ver detalle</button>
    </div>
    {{/teachers}}

    {{^teachers}}
      <p>No hay catedraticos para esa busqueda :(</p>
    {{/teachers}}
  </div>
</div>

{{{reviewModal}}}