<!DOCTYPE html>
<html lang="es">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140472386-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-140472386-2');
    </script>
    <meta charset="utf-8">
    <base href="../../">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script data-ad-client="ca-pub-1298512778914438" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../main.css">

    {{{metaTags}}}
  </head>
  <body>
    {{{header}}}

    <div id="wrapper">
      {{{wrapper}}}
    </div>
    {{{paging}}}
    <br><br>
    
    {{{footer}}}

    <script src="../main.js"></script>
    <script src="../js/lazysizes.min.js"></script>
  </body>
</html>