<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>El Sindicato - Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../main.css">
  <link rel="stylesheet" type="text/css" media="screen" href="dashboard.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
  <div class="header">
    <h1>DASHBOARD</h1>
    <p><span id="username"></span> | <a href="" id="logout">CERRAR SESIÓN</a></p>
    <ul class="links">
      <li>
        <a href="javascript: init();">MIS ARTICULOS</a>
      </li>
      <li>
        <a href="javascript: moderation();">MODERACIÓN</a>
      </li>
      <li>
        <a href="../">SALIR DE DASHBOARD</a>
      </li>
    </ul>
  </div>
  <div class="toast hidden" id="login-toast"></div>
  <div id="login-modal" class="modal hidden">
    <div class="content">
      <h1>Login</h1>
      <hr>
      Ingresar credenciales de redactor <br><br>
      <input type="text" placeholder="Nombre de usuario" id="usr-txt">
      <br>
      <input type="password" placeholder="Contraseña" id="pwd-txt">
      <button id="login-btn">Iniciar sesión</button>
      <a href="../">Regresar a El Sindicato</a>
    </div>
  </div>

  <div id="editor-modal" class="modal hidden">
    <div class="content" style="text-align: left; overflow-x: hidden">
      <span class="icon close-btn" onclick="interactModal('editor-modal');"></span>
      <span class="icon save-btn" id="save-btn"></span>
      <h1>Editor</h1>
      <hr>
      <input placeholder="Titular" type="text" id="headline"><br>
      <input placeholder="Subtitulo" type="text" id="subhead"><br>
      <input placeholder="Autor" type="text" id="author"><br>
      <input placeholder="Categoría" type="text" id="category"><br><br>
      
      <textarea id="editor-textarea"></textarea>
      <script>
        var simplemde = new SimpleMDE({ element: document.getElementById('editor-textarea'), spellChecker: false })
      </script>
    </div>
  </div>

  <div id="wrapper">
    
  </div>
  
  <script src="../components/prompt.js"></script>
  <script src="../components/modal.js"></script>
  <script src="../components/toast.js"></script>
  <script src="main.js"></script>
</body>
</html>