{{#reviews}}
<div class="uni-review">
  <p><b class="review-title">{{dateText}}:<br></b>{{{summary}}}</p>
  {{{stars}}} | {{rate}}/5
  <ul style="font-size: 14px">
    <li><b>Reputación: </b> {{reputation}}</li>
    <li><b>Limpieza: </b> {{cleanliness}}</li>
    <li><b>Extracurricular: </b> {{extracurricular}}</li>
    <li><b>Seguridad: </b> {{security}}</li>
    <li><b>Felicidad: </b> {{happiness}}</li>
  </ul>
  <a class="vote-btn" id="voteUp{{date}}" href="javascript:void(0);" onclick="vote('{{university}}', '{{date}}', 1)"><span class="icon">&#xF0AD;</span> Útil</a> 
  <span class="votes-span" id="votes{{date}}">{{votes}}</span>
  <a class="vote-btn" id="voteDown{{date}}" href="javascript:void(0);" onclick="vote('{{university}}', '{{date}}', -1)"><span class="icon">&#xF0AE;</span></a>
</div>
{{/reviews}}