<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sindicato UFM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
  <script src="main.js"></script>
</head>
<body>
  <div class="header">
    <h1>SINDICATO UFM</h1>
    <p>La critica estudiantil</p>
    <ul class="links">
      <li>
        <a href="../">OPINIÓN</a>
      </li>
      <li>
        <a href="#">NOSOTROS</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <h2>NOSOTROS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum ut tristique et egestas. Aliquet enim tortor at auctor urna nunc. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Ipsum nunc aliquet bibendum enim facilisis. Varius morbi enim nunc faucibus a pellentesque. Netus et malesuada fames ac turpis egestas. Lobortis mattis aliquam faucibus purus in massa. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Tempor id eu nisl nunc mi ipsum faucibus vitae aliquet. Hac habitasse platea dictumst quisque sagittis purus sit. Diam vulputate ut pharetra sit. Vel risus commodo viverra maecenas accumsan lacus vel. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Egestas diam in arcu cursus euismod quis.</p>
    <p>Tempor orci eu lobortis elementum nibh tellus. Tempus urna et pharetra pharetra massa massa. Pellentesque elit eget gravida cum sociis natoque penatibus et. Quis enim lobortis scelerisque fermentum dui faucibus in ornare. Placerat duis ultricies lacus sed turpis tincidunt. Ornare lectus sit amet est placerat in egestas erat imperdiet. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Eu volutpat odio facilisis mauris sit amet. Orci phasellus egestas tellus rutrum tellus pellentesque eu. Lacus vestibulum sed arcu non odio euismod lacinia at. Morbi tincidunt augue interdum velit euismod in. Integer feugiat scelerisque varius morbi enim nunc faucibus a. Ipsum dolor sit amet consectetur. Dis parturient montes nascetur ridiculus mus. Sed blandit libero volutpat sed cras ornare arcu dui. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut. At volutpat diam ut venenatis. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec.</p>
  </div>
</body>
</html>