body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
}

.header{
  text-align: center;
  border-bottom: 1px solid #E2E2E2;
  padding: 20px;
}
.header h1{
  color: black;
}

.header .links{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header .links li{
  display: inline-block;
  margin: 0 20px 0 20px;
}

.content{
  width: 800px;
  margin: auto;
  text-align: left;
}

.content h1 a{
  color: black;
}

@media screen and (max-width: 600px){
  .content{
    width: calc(100% - 30px);
  }
}

a{
  text-decoration: none;
}

a:link, a:visited{
  color: #326891;
}

a:active{
  color: #3268EE;
}

hr{
  border: 0;
  height: 1px;
  background-color: #E2E2E2;
}

.subhead{
  font-size: 20px;
  color: #333;
}

.body, .body p{
  color: #333;
}

.content .info{
  font-size: 14px;
  margin-top: -15px;
}

button, .new-article input, select{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 4px;
  background-color: #eee;
  border: 1px solid #eee;
  transition: box-shadow .2s;
  text-align: center;
  margin: 10px;
}

button:hover, .new-article input[type=submit]:hover{
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
}

button:focus, .new-article input[type=submit]:focus{
  outline: none;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.1)
}

button:active, .new-article input[type=submit]:active{
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1)
}

.pager{
  display: none;
}

.new-article{
  text-align: left;
  padding: 10px;
}

.new-article input[type=text]{
  display: block;
}

.new-article input[type=text]:focus, .new-article form input[type=password]:focus{
  outline: none;
  border: solid 1px #E2E2E2;
  background-color: white;
}

.new-article input[type=submit]{
  cursor: pointer;
}

.new-article textarea{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  transition: box-shadow .2s;
  text-align: left;
  margin: 10px;
  border: solid 1px #E2E2E2;
  width: calc(100% - 40px);
  display: block;
}

textarea:focus{
  outline: none;
}

.new-article #headline{
  width: calc(100% - 40px);
  font-size: larger;
  font-weight: bold;
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}

.wrapper .content{
  background-color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}