@font-face {
  font-family: 'Segoe-MDL2';
  src: url('SegMDL2.ttf');
  font-display: swap;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('fonts/cmunrm.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('cmunbx.eot');
	src: url('fonts/cmunbx.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body{
  font: normal 1.2em/150% 'Computer Modern Serif', Times, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
  background-color: #FFFEFC;
}

h1, h2, h3, p, ol, ul, blockquote {
  margin: 1em 0;
}

.header{
  text-align: center;
  padding: 20px;
}
.header h1{
  color: black;
}

.header .links{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header .links li{
  display: inline-block;
  margin: 0 20px 0 20px;
}

.content{
  width: 800px;
  margin: auto;
  text-align: left;
  margin-bottom: 60px;
}

.content h1 {
  margin-top: 100px;
  line-height: 1.2em;
}

.content h1 a{
  color: black;
}

@media screen and (max-width: 800px){
  .content{
    width: calc(100% - 30px) !important;
  }

  .card {
    width: calc(100% - 80px) !important;
    margin: none;
  }

  .review-filter .teachers {
    width: 100% !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .review-filter .filters {
    width: calc(100% - 80px) !important;
    margin: none;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .review-filter .filters input, .review-filter .filters select {
    width: 100%;
  }
}

@media screen and (max-width: 380px){
  .content h1 {
    margin-top: 40px;
  }
  
  .header h1{
    font-size: 32px;
  }
}

a{
  text-decoration: none;
  border: solid 2px rgba(255, 165, 0, 0);
  transition: border-bottom .15s;
}

a:link, a:visited{
  color: #326891;
}

a:active{
  color: #3268EE;
}

a:hover {
  border-bottom: solid 4px orange;
}

hr{
  border: 0;
  height: 1px;
  background-color: #E2E2E2;
}

.subhead{
  font-size: 20px;
  color: black;
}

.body, .body p{
  color: #333;
  font-size: 20px;
  line-height: 150%;
}

.content .info{
  font-size: 14px;
  margin-top: -15px;
}

.btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button, .new-article input, select, .btn{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 4px;
  background-color: #eee;
  border: 1px solid #eee !important;
  transition: box-shadow .2s;
  text-align: center;
  margin: 10px;
  font-size: 16px;
  color: #333 !important;
  text-decoration: none;
}

button:hover, .new-article input:focus, textarea:focus, .btn:hover{
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
}

button:focus, .new-article input:focus, textarea:focus, .btn:focus{
  outline: none;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.1)
}

button:active, .new-article input[type=submit]:active, .btn:active{
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1)
}

.new-article{
  text-align: left;
  padding: 10px;
}

.new-article input[type=text]{
  display: block;
  border: solid 1px #E2E2E2;
  background-color: white;
}

.new-article input[type=text]:focus, .new-article form input[type=password]:focus{
  outline: none;
  border: solid 1px #E2E2E2;
  background-color: white;
}

.new-article input[type=submit]{
  cursor: pointer;
}

.new-article textarea{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  transition: box-shadow .2s;
  text-align: left;
  margin: 10px;
  border: solid 1px #E2E2E2;
  width: calc(100% - 40px);
  display: block;
}

.new-article #headline{
  width: calc(100% - 40px);
  font-size: larger;
  font-weight: bold;
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,.2);
}

.wrapper .content{
  background-color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);  
}

.loading{
  text-align: center;
  border-bottom: 1px solid #E2E2E2;
  border-top: 1px solid #E2E2E2;
  padding: 20px;
  font-size: larger;
  display: none;
}

table{
  width: 100%;
  border-collapse: collapse;
}

td{
  border-bottom: 1px solid #e2e2e2;
  padding: 10px;
}

#preview{
  width: 100%;
}

footer {
  border-top: 2px solid #E2E2E2;
  background-color: #eee;
}

footer h1 {
  margin: 0;
}

.card {
  box-shadow: 0 0 1px 1px rgba(0,0,0,.07);
  width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .2s;
  background-color: white;
}

.card:hover {
  box-shadow: 0 5px 10px 3px rgba(0,0,0,.05), 0 0 1px 1px rgba(0,0,0,.05);;
  transform: scale(1.02);
}

.card .title {
  font-size: 30px;
  font-weight: bold;
}

.card .ratings {
  list-style: none;
  text-align: center;
  font-family: 'Segoe MDL2';
}

.checked {
  color: orange;
}

.card .image {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.card-grow {
  transition: transform .2s;
  transform: scale(1.15) !important;
}

.rating {
  font-size: 30px;
}

.icon {
  font-family: 'Segoe-MDL2';
}

input[type=text], [type=password] {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  font-size: 15px;
  transition: all .2s;
  width: 100%;
}

input[type=text]:hover, [type=password]:hover {
  border-bottom: 1px solid #326891;
}

input[type=text]:focus, [type=password]:focus {
  border-bottom: 3px solid #326891;
  outline: none;
}

.search {
  position: relative;
  padding-right: 30px;
}

.search::after {
  content: '\E721';
  font-family: 'Segoe-MDL2';
  background-color: 'red';
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 3px);
  padding: 0 20px;
  background-color: white;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color:white;
  z-index: 2;
  overflow: auto;
  transition: all .3s;
}

.modal .content {
  position: relative;
}

.modal .close-btn, .modal .save-btn {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .2s, box-shadow .2s;
}

.modal .close-btn::after {
  content: '\E8BB'
}

.modal .save-btn {
  right: 65px;
}

.modal .save-btn::after {
  content: '\E74E'
}

.modal .close-btn:hover, .modal .save-btn:hover{
  background-color: rgba(226, 226, 226, 0.7);
}

.modal .close-btn:active, .modal .save-btn:active {
  background-color: #e2e2e2;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1)
}


/* STYLING RANGE */
[type='range'] {
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.5em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  transform: translateY(25%);

  transition: all .2s;
}
[type='range'], [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}
[type='range']::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}
[type='range']::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}
[type='range']::-webkit-slider-thumb {
  margin-top: -0.625em;
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #326891;
}
[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #326891;
}
[type='range']::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #326891;
}

[type='range']::-ms-tooltip {
  display: none;
}

.range {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
}

/* Star rating styling */
.rate {
  padding: 0 10px;
  display: inline-block;
  font-family: 'Segoe-MDL2';
  transform: translateY(25%);
}

.rate:not(:checked) > input {
  position: absolute;
  visibility: hidden;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before { content: '★ '; }

.rate > input:checked ~ label { color: #ffc700; }

.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #deb217; }

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }

#calificar-modal h4{
  margin: 0;
  margin-top: 60px;
}

#uni-select {
  margin-bottom: -30px;
}

.toast {
  position: fixed;
  top: calc(100vh - 100px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .25);
  width: 80%;
  background-color: #2F3136;
  color: white;
  z-index: 5;
  transition: all .3s;
  opacity: .9;
}

.hidden {
  opacity: 0;
  top: 100vh;
}

.prompt {
  box-shadow: 0 0 1px 1px rgba(0,0,0,.07);
  transition: opacity .2s;
  background-color: white;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
  border-radius: 2px;
  transform: translateX(-50%) translateY(-50%);
}

.prompt .title {
  font-size: 20px;
  font-weight: bold;
}

.no-show {
  display: none;
}

.grecaptcha-badge {
  display: none !important;
}

.votes-span {
  font-weight: bold;
}

.vote-btn {
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(235, 235, 235, 0.2);
  border-bottom: solid 1px #f2f2f2;
}

.voted {
  background-color: rgba(255, 166, 0, 0.4);
  border-bottom: solid 4px orange;
  cursor: default;
}

.uni-review {
  border-radius: 10px;
  padding: 15px;
  padding-top: 1px !important;
  margin: 15px;
  background-color: #fcfcfc;
  border: solid 1px #f1f1f1;
  border-bottom: solid 2px #f2f2f2;
}

.uni-review p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 10px !important;
}

.search-suggestions {
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.07);
  background-color: rgba(250, 250, 250, 0.9);
  width: calc(100% - 30px);
  margin: 0;
  position: absolute;
  z-index: 100;
  list-style: none;
  padding: 10px;
  display: none;
}

input[type=text]:focus ~ .search-suggestions, .search-suggestions:focus, .search-suggestions:hover{
  display: block;
}

.search-suggestions li {
  padding: 10px;
  transition: all .2s;
  cursor: pointer;
}

.search-suggestions li:hover, .search-selected {
  background-color: #326891;
  color: white;
}

/* REVIEW FILTER */

.review-filter {
  max-width: 100%;
}

.review-filter .filters {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.review-filter .filters input {
  margin: 5px;
}

.review-filter .filters input[type=text]{
  display: inline-block;
  width: auto;
}

.review-filter .teachers {
  width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.review-filter .card {
  display: inline-block;
  width: calc(100% - 20px);
  margin-top: 0;
}

.review-filter .card p{
  text-align: justify;
  padding: 22px;
}

.review-filter .card .title {
  padding: 5px;
}

.tab-pill {
  padding: 3px;
  background-color: #eee;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  margin: 15px;
}

.tab-pill a {
  display: inline-block;
  padding: 13px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  transition: background-color .2s;
  color: #333;
}

.tab-pill a:hover, .tab-pill a:focus {
  box-shadow: none;
  border: none;
  background-color: rgba(0, 0, 0, .07);
}

.tab-pill .selected {
  background-color: #326891;
  color: white;
}

.tab-pill .selected:hover, .tab-pill .selected:focus {
  background-color: #235174;  
}