<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>El Sindicato - Nosotros</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
  <div class="header">
    <h1>EL SINDICATO</h1>
    <p>La critica estudiantil</p>
    <ul class="links">
      <li><a href="../musica">MÚSICA</a><li>
      <li>
        <a href="../">OPINIÓN</a>
      </li>
      <li>
        <a href="#">NOSOTROS</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <h2>¿Quiénes somos?</h2>
    <p>Somos un grupo independiente de estudiantes de la Universidad Francisco Marroquín que busca dar voz y representación a los alumnos. Nuestro propósito es servir como plataforma apolítica, laica y libre para la crítica y opinión sobre la universidad, vida universitaria y otros temas de interés.</p>
    <p>Creemos que las personas son capaces de generar opiniones libres sin adoctrinación forzada y El Sindicato es una plataforma para poder exponer esas ideas a estudiantes de diversos orígenes, ideologías y géneros.</p>
    <h2>Nuestro Equipo</h2>
    <h3>Dirección</h3>
    <ul>
      <li>Fabrizzio Rivera</li>
    </ul>
    <h3>Redacción</h3>
    <ul>      
      <li>Abner X</li>
      <li>Alejandra Rivera</li>
      <li>Fernanda Gonzalez</li>
      <li>Juan Jose Elgueta</li>      
      <li>Lindsey de la Roca</li>      
    </ul>
  </div>
</body>
</html>